.booking-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:400px;
}
.booking-input{
    padding: 0.5rem;
}
.booking-form{
    border-radius: 0.2rem;
    position: absolute;
    right:0;
}