.topline{
    background-color: #2AA8FF;
    color: white;
}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}
.logotext{
    color: #2AA8FF;
    font-family: Poppins;
font-size: 1rem;
font-weight: 700;
line-height: 1.5rrem;
letter-spacing: 0.02em;
text-align: left;

}

.logo button{
    background-color: #2AA8FF;
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem;
    margin-right: 0.5rem;
}

.navbar-link{
    cursor: pointer;
}

.navbar-link-inner{
    display: flex;
   align-items: center;
    

}

.navlink-container{
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.navlink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.navlink-container button{
    background-color: #2AA8FF;
    padding: 0.75rem 2rem;
    border: none;
    font-weight: 500;
    color: white;
    border-radius: 0.5rem;

}

.navbar{
    padding: 1rem;
}

.small-navlink-container{
    display: none;
}
.small-navlink-container img{
    height: 25px;
    
}

.dropdown-menu{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    padding: 1rem;
    position: absolute;
    top: 10%;
    background-color: #2AA8FF;
    
}

.small-nav-link{
    text-decoration: none;
    padding: 1rem;
    border-bottom: 1px solid white;
    width: 100vw;
}

.small-nav-inner{
    padding: 1rem;
    color: white;
   
}

.booking{
    padding: 0.75rem 2rem;
    border: none;
    font-weight: 500;
    color: white;
    border-radius: 0.5rem;
    color:#2AA8FF;
    margin-top: 0.5em;
}
@media only screen and (max-width:600px) {

    .small-navlink-container
    {
        display: flex;
    }
    .navbar-link-inner{
        display: none;
    }
    .navlink-container button{
        display: none;
    }
}