.topline{
    background-color: #2AA8FF;
    color: white;
}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}
.logotext{
    color: #2AA8FF;
    font-family: Poppins;
font-size: 1rem;
font-weight: 700;
line-height: 1.5rrem;
letter-spacing: 0.02em;
text-align: left;
text-decoration: none;
}

.logo button{
    background-color: #2AA8FF;
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem;
    margin-right: 0.5rem;
}

.navbar-link{
    cursor: pointer;
    text-decoration: none;
}

.navbar-link-inner{
    height: 100%;
    display: flex;
    align-items: center;
    border: 0.375rem solid rgba(0, 0, 0, 0); /*0.375rem = 6px*/
    transition: all 250ms;
    border-left: 0;
    border-right: 0;
    

}

.navbar-link-inner:hover{
    border-bottom: 0.375rem solid #2AA8FF;
}

.navlink-container{
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.navlink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.navlink-container button{
    background-color: #2AA8FF;
    padding: 0.75rem 2rem;
    border: none;
    font-weight: 500;
    color: white;
    border-radius: 0.5rem;

}

.navbar{
    padding: 1rem;
}
.nav-bottom-container{
    width: 100%;
    height: 100px;
    background: linear-gradient(91.75deg, #2AA7FF 1.4%, #0C8CE6 100.57%);
    position: relative;

}
.small-navlink-container{
    display: none;
}
.small-navlink-container img{
    height: 25px;
    
}

.dropdown-menu{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    padding: 1rem;
    position: absolute;
    top: 10%;
    background-color: #2AA8FF;
    z-index: 100;
    
}

.small-nav-link{
    text-decoration: none;
    padding: 1rem;
    border-bottom: 1px solid white;
    width: 100vw;
}

.small-nav-inner{
    padding: 1rem;
    color: white;
   
}

.booking{
    padding: 0.75rem 2rem;
    border: none;
    font-weight: 500;
    color: white;
    border-radius: 0.5rem;
    color:#2AA8FF;
    margin-top: 0.5em;
}
@media only screen and (max-width:730px) {

    .small-navlink-container
    {
        display: flex;
    }
    .navbar-link-inner{
        display: none;
    }
    .navlink-container button{
        display: none;
    }
}